<footer class="footer bg-dark py-3 mt-auto">
    <div class="container ">
        <span class="text-muted ">&copy; neutron | current<sup>&reg</sup> | <small>Version <sup>1.0.0 <sub>Beta</sub></sup></small></span>

    </div>
</footer>