<% layout('layout/boilerplate') %>

<div class="container m-4">
    <div class="col-6 offset-3">
<div class="alert alert-danger" role="alert">
    <h2>Error!</h2>
    <h4><%=status%></h4>
    <p><%=err.message%></p>

</div>
</div>
</div>